.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  height: 100px;
  background-color: lightblue;
  width: 250px;
}

.roundedCorners{
  border-radius: 25px;
}

.small{
  width: 200px;
}

.medium{
  width: 250px;
}

.large{
  width: 400px;
}